@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    background-color: #eef8fe;
}


.title {
    position: absolute;
    width: 83px;
    height: 15px;
    left: 744px;
    top: 58px;

}

.border {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1292px;
    top: 40px;
    border-radius: 50%;
    border: 1.4px solid #dfdfdf;

}

.cart {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1309px;
    top: 56px;
}

.h1 {
    position: absolute;
    width: 47px;
    height: 20px;
    left: 142px;
    top: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.01em;

    color: #404041;

}

.h2 {
    position: absolute;
    width: 101px;
    height: 20px;
    left: 233px;
    top: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.01em;

    color: #404041;

}

.h3 {
    position: absolute;
    width: 64px;
    height: 20px;
    left: 379px;
    top: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.01em;

    color: #404041;

}

.arwbtn {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 140px;
    top: 493px;
}

.gyc {
    position: absolute;
    width: 150px;
    height: 19px;
    left: 208px;
    top: 492px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    color: #222223;

}

.descript {
    position: absolute;
    width: 280px;
    height: 60px;
    left: 140px;
    top: 365px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    letter-spacing: 0.01em;

    color: #535354;

}

.cardtop {
    position: absolute;
    width: 432px;
    height: 160px;
    left: 140px;
    top: 97px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;

    letter-spacing: -0.01em;

    color: #222223;

}

.bg-mixed {
    position: absolute;
    width: 675px;
    height: 327px;
    left: 669px;
    top: 215px;
}

.visa-card {
    position: absolute;
    width: 367.5px;
    height: 229.2px;
    left: 665.9px;
    top: 197.7px;
    filter: drop-shadow(80px 60px 100px rgba(0, 0, 0, 0.12));
    transform: rotate(-26.86deg);
}

.water-mark {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 984px;
    top: 411px;
    background-color: #4aafe9;

}

.b1 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1161px;
    top: 275px;

    background: #F9FDFF;
    box-shadow: 0px 12px 20px rgba(216, 166, 20, 0.31);
    border-radius: 20px;
}

.b2 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1244px;
    top: 275px;

    background: #F9FDFF;
    box-shadow: 0px 12px 20px rgba(216, 166, 20, 0.31);
    border-radius: 20px;
}



.b3 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1244px;
    top: 350px;

    background: #fefeff;
    box-shadow: 0px 12px 20px rgba(216, 166, 20, 0.31);
    border-radius: 20px;
}

.b4 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1161px;
    top: 425px;

    background: #f6f6f8;
    box-shadow: 0px 12px 20px rgba(216, 166, 20, 0.31);
    border-radius: 20px;

}

.b5 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1161px;
    top: 350px;

    background: #F9FDFF;
    box-shadow: 0px 12px 20px rgba(216, 166, 20, 0.31);
    border-radius: 20px;
}

.b6 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1244px;
    top: 425px;

    background: #F9FDFF;
    box-shadow: 0px 12px 20px rgba(216, 166, 20, 0.31);
    border-radius: 20px;
}

.fire {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 208px;
    top: 674px;

    filter: drop-shadow(0px 0px 25px rgba(237, 94, 22, 0.35));
}

.fire1 {
    position: absolute;
    width: 221px;
    height: 84px;
    left: 140px;
    top: 669px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;

    color: #222223;

}

.fire2 {
    position: absolute;
    width: 233px;
    height: 52px;
    left: 140px;
    top: 790px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 0.01em;

    color: #5F5F64;

}

.fire3 {
    position: absolute;
    width: 147px;
    height: 28px;
    left: 532px;
    top: 738px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    letter-spacing: 0.01em;

    color: #17181A;
}

.money {
    position: absolute;
    width: 32px;
    height: 35px;
    left: 532px;
    top: 690px;

    background: url(.png);
}

.fire4 {
    position: absolute;
    width: 188px;
    height: 52px;
    left: 532px;
    top: 790px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #5F5F64;
}

.money2 {
    position: absolute;
    width: 32px;
    height: 35px;
    left: 840px;
    top: 690px;
    background: url(.png);
}

.money3 {
    position: absolute;
    width: 32px;
    height: 35px;
    left: 1148px;
    top: 690px;
    background: url(.png);
}

.fire3-1 {
    position: absolute;
    width: 137px;
    height: 28px;
    left: 840px;
    top: 738px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;

    color: #17181A;


}

.fire3-2 {
    position: absolute;
    width: 137px;
    height: 28px;
    left: 1148px;
    top: 738px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;

    color: #17181A;

}

.fire4-1 {
    position: absolute;
    width: 188px;
    height: 52px;
    left: 840px;
    top: 790px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #5F5F64;
}

.fire4-2 {
    position: absolute;
    width: 188px;
    height: 52px;
    left: 1148px;
    top: 790px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #5F5F64;
}